<div id="recortable">
  <div id="nina3" class="sprite"></div>
  <div id="nina2" class="sprite"></div>
  <!--div id="ropa31" class="sprite"></div-->
  <div id="ropa32" class="sprite"></div>
  <div id="ropa33" class="sprite"></div>
  <div id="pajaro33" class="sprite"></div>
</div>