html * {margin: 0; padding: 0;}
body {}

@green: #629365;

h1 {font-size: 400%; font-family: 'Lobster', arial, serif;}
.playground {position:fixed;left:0;top:-40px;right:0;bottom:0; }
.resources {display: none;}
.sprite {position: fixed; top:10;left:10; cursor:move;}
a {text-decoration:none;}
a#root {font-size: 400%; font-family: 'Lobster', arial, serif; display:block;position:fixed; right:10px;bottom:0;color:rgba(0,0,0,0.1);}

/** INDEX **/
#welcome {.playground;background: url('/images/pattern.gif') transparent repeat;}
#center {position:fixed;left:0;right:0;top:50%;width:100%;}
#center h1 {margin-top: -0.6em; height: 1.2em; padding-bottom: 0.15em; margin-bottom: 1em;
  		text-align: center; text-shadow: #1e2d1f 1px 1px 2px;
  	    color: @green; cursor: move;	}
#recortable-chicachico {color: #EAE8CE; right: 40px; top: 40px;}
#recortable-chicachico.hover {}
#recortable-chicachico.active {-moz-no-color: #cbc787; text-shadow: #c00 0px 1px 50px;}


/** CHICACHICO */
#chicachico {background-color: #FEFEF2;}
